.reportPage {
  font-family: "Poppins", sans-serif;
}

.reportTitle h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

.reportPage .odpAmnt {
  font-size: 18pt;
  font-weight: bold;
  color: #192a56;
  border: 1px solid #343a40;
}

.reportMap h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.reportData {
  margin-top: 5%;
}

.reportData h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.reportStandby h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.reportStandby .table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #343a40;
}

.reportSummary h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.reportSummary .col {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
  border: 1px solid #343a40;
}

.reportSummary h2 {
  font-size: 18pt;
}

.reportSummary .table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media (min-width: 300px) and (max-width: 812px) {
  .reportPage .odpAmnt {
    font-size: 12pt;
    font-weight: bold;
  }
  .reportData {
    margin-top: -45%;
  }
  .reportStandby .table {
    font-size: 8pt;
  }
}
