.detailPage {
  font-family: "Poppins", sans-serif;
}

.detailTitle {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.detailTitle h1 {
  margin-left: auto;
  margin-right: auto;
}

.detailData .table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.detailCust h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.detailCust .table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #343a40;
  width: 100%;
}

.detailCust .table th {
  font-size: 11pt;
  text-transform: uppercase;
  background-color: #343a40;
  color: #ffffff;
}

.detailCust .table tbody th {
  font-size: 11pt;
  text-transform: none;
  background-color: white;
  color: #000000;
}

.detailCust .table td {
  font-size: 11pt;
}

/* .table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.detailCust .table tr:hover,
.detailData .table tr:hover {
  background-color: #ddd;
  transition: 0.3s;
}

@media (min-width: 300px) and (max-width: 812px) {
  .detailTitle h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 9pt;
  }
  .detailData .table {
    font-size: 6pt;
  }
  .detailCust .table {
    font-size: 6pt;
    margin-bottom: 10%;
  }
}
